html,
body,
header,
#intro {
  height: 100%; }

#intro {
  background: url("../images/lead-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.top-nav-collapse {
  background-color: #4285F4; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #4285F4; } }

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #4285F4; } }

.em {
  font-size: 12px; }

.self-desc {
  cursor: pointer; }

section .description p, section .list p, section .experience p {
  text-align: left;
  color: #4B515D; }
  section .description p br, section .list p br, section .experience p br {
    margin-bottom: 5px; }

section .list p {
  margin-top: 20px;
  margin-bottom: 20px; }

section .experience .card-title, section .experience .right, section .experience .left {
  display: inline-block; }

section .experience .right {
  float: right; }

section .experience .left {
  float: left; }

section .experience .date {
  font-size: 14px; }

section .title, section .subtitle {
  text-align: center; }
